User Management:
    ✅user registration
    ✅user login          ->  roles: customer
                                     admin

--------------------------------------------------------------------------------
Car Management:
    get car  (ID, make, model, year, mileage, available now, minimum rent period, maximum rent period.)
    ✅get car list
    ✅add car (admin)
    ✅update car (admin)
    ✅delete car (admin)

--------------------------------------------------------------------------------
Rental Booking:
    ✅book car (specify rental dates and provide necessary details)
    ✅calculate the rental fees based on the selected car, rental duration, and any additional charges

--------------------------------------------------------------------------------
Rental Management:
    ✅approve rental request (admin)
    ✅reject rental request (admin)

